<%= form_for @product do |f| %>

  <div class='form-input'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='form-input'>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>


  <div class='form-input'>
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>

  <div class='form-input'>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class='form-input'>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class='form-action'>
    <%= f.button :submit %>
  </div>

<% end %>
